<%= form_for Message.new, :remote => true do |msg| %>
  <%= render 'layouts/error_messages', :object => msg.object %>
  <div class = 'to_recipients'>
    <%= label_tag "To:" %>
    <%= text_field_tag :recipient_name %>
  </div>
  <%= msg.hidden_field :recipient_id, :value => params[:receiver] %>
  <%= msg.text_area :body, :placeholder => "Write message here", :value => params[:message_type] ? message_prefill(params[:message_type]) : ''  %>
  <%= msg.submit "Send message" %>
<% end %>
