<%= form_for(:session, :url => :sessions, html: {:class => "new_session"}) do |session|%>
  <%= render 'layouts/flash', :flash => flash %>
  <ul>
    <%= hidden_field_tag :redirect_url, home_users_path%>
    <li>
      <%= session.text_field :email, :placeholder => 'email' %>
    </li>
    <li>
      <%= session.password_field :password, :placeholder => 'password'%>
    </li>
    <li>
      <%= session.submit 'Log in' %>
    </li>
  </ul>
<% end %>
