<% recipients = conversation.participants.reject{|user| user.id == @current_user.id} %>


<li class = "conversation_summary" id = "conversation_<%= conversation.id %>">
	
	<div class = "participant_photo">
	<%= render 'users/user_photo_partials/simple_small_user_photo', :user => recipients.first %>
	</div>
	<div class = "top_row">
<%= link_to recipients.collect(&:firstname).join(","), conversation, :class => "recipient_list" %>
<%= render 'layouts/date_summary', :object => conversation %>
</div>
<div class = "conversation_last_message">
<%= truncate(conversation.messages.last.body, length: 40) %>
</div>

	
</li>

