<div class = "photo_wrapper">
<%= render 'users/user_photo_partials/user_profile_picture' %>
</div>
<%= form_for @current_user do |user| %>
<%= hidden_field_tag :from_url, request.env['PATH_INFO']%>
<ul>
	 <% if @current_user.first_rating.blank? %>
	<li>
		<div class = "rate_skill" id = "<%= @current_user.first_rating %>">
			<%= user.hidden_field :first_rating, :value => @current_user.first_rating %>
		</div>

	</li>
	 <% end %>
	<li>
		<%= user.label :zip, "Your location" %>
		<%= user.text_field :zip, :placeholder => "zip code" %>
	</li>
	<li>
		<%= user.submit 'Done' %>
	</li>
	
</ul>
<% end %>