<div class = "edit_user_title">
<h2>Tell us about yourself</h2>
<h3>This will lead to better matchups</h3>
</div>
<div class = "photo_wrapper">
  <p>Profile Photo</p>
  <%= render 'users/user_photo_partials/user_profile_picture', :user => @current_user %>
</div>
<%= form_for @current_user do |user| %>
 
  <ul>
    <% if @current_user.first_rating.blank? %>
      <li>
        <p>
      <%= user.label :first_rating, "Rate your skill level" %></p>
        <%= render 'users/user_edit_partials/first_rating', :user => @current_user %>
      </li>
    <% end %>
    <li>
      <p>
      <%= user.label :intro, "Introduce yourself" %></p>
      <%= user.text_area :intro, :placeholder => "Max 260 characters", :size => "35x3", :resize => false  %>
    </li>
    <li>
      <p>
      <%= user.label :zip, "Your location" %></p>
      <%= user.text_field :zip, :value => @current_user.zip.blank? ? Geocoder.search([request.location.latitude,request.location.longitude]).first.postal_code : @current_user.zip  %>
    </li>
    <li>
      <p>
      <%= user.label :country %></p>
      <%= user.country_select :country, {priority: %w(US)} %>
    </li>
    <li>
      <%= user.submit 'Let\'s go!' %>
    </li>
  </ul>
<% end %>
