<div class = "dialog_new_message">
	<div class = "new_message_form"></div></div>
<div class = "user_profile round_soft">
<div class = "user_basic">
	<%= render 'users/user_photo_partials/user_profile_picture', :user => @user %>
	<div class = "profile_buttons">
	<% unless current_user?(@user) %>
		<%= render 'friendships/simple_friend_button', :user => @user %>
		<%= render 'messages/message_button', :user => @user %>
		<% end %>
		</div>
</div>
	<div class = "user_info">
		<%= render 'users/user_profile_partials/user_info' %>
		
	</div>
	<div class = "user_location">

	</div>
</div>
<div class = "user_buttons round">
	<ul>
		<li>
	<%= link_to pluralize(@user.friendships.mutual.count, "friend"), friendships_user_friendships_path(@user), :remote => true %>
	</li>
	<li>
		<%= link_to pluralize(@user.matches.count, "match"), user_matches_path(@user), :remote => true %>
	</li>
	</ul>
</div>

<div class = "listing" >
	<%= render :partial => 'users/user_summary_partials/user_summary', :collection => @user.friends, :as => :user %>
</div>

