<div class = "user_ratings">
  <% if current_user?(@user) && @user.first_rating.blank? %>
    <%= form_for @user, :html => {:title => "Rate your skills so we can match you to other users"} do |user| %>

      <%= render 'layouts/ratings/first_rating', :user => user %>
    <% end %>
  <% else %>
    <%= render 'layouts/ratings/show_rating', :star_size => "stars", :rating => @user.first_rating,
  :rating_type => "Skill" %>
  <% end %>
  <%= render 'layouts/ratings/show_rating', :star_size => "stars", :rating => @user.fairness, :rating_type => "Fairness" %>
</div>
<div class = 'user_location'>
 <%= render 'users/user_profile_partials/user_location' %>
</div>
<div class = "dialog_about_skill">
  <div class = "about_skill_wrapper"></div></div>
