<div class = "main_user_name">
  <%= @user.fullname %>
</div>
<% if current_user?(@user) && @user.first_rating.blank? %>
  <%= form_for @user do |user| %>
    <%= render 'layouts/ratings/first_rating', :user => user %>
  <% end %>
<% else %>
  <%= render 'layouts/ratings/show_rating', :star_size => "stars", :rating => @user.first_rating,
  :rating_type => "Skill" %>
<% end %>
<%= render 'layouts/ratings/show_rating', :star_size => "stars", :rating => @user.fairness, :rating_type => "Fairness" %>
