<%= render 'layouts/error_messages', :object => match.object %>
<table>
	<tr>
		<td>
			<%= match.label :play_date, "Played on" %>
	<%= match.date_select :play_date, :order => [:month, :day, :year], :start_year => 3.months.ago.year , :end_year => Time.now.year  %>
		</td>
		
	</tr>
	<tr>
		<td>
<%= match.label :player1_id, "Player 1: #{@current_user.fullname}" %>
<%= match.hidden_field :player1_id, :value => @current_user.id%>
</td>
<td>
<%= match.label :player2_id, "Player 2:" %>
<%= text_field_tag "match[player2_id]" %>
</td>
</tr>

<tr>
	<td>
	<%= match.label :winner_id, "I won" %>
	<%= match.radio_button :winner_id, true %>
	</td>
	<td>
	<%= match.label :winner_id, "I lost" %>
	<%= match.radio_button :winner_id, false %>
	</td>
	
</tr>


</table>
<%= match.submit "Confirm" %>