<% opponent = match.opponent(@user) %>
<div id = "match_<%= match.id %>">
  <li class = "match_summary" >
    <div class = "match_opponent_photo">
      <span></span>
      <%= render 'users/user_photo_partials/simple_small_user_photo', :user =>match.opponent(@user) %>
    </div>
    <div class = "match_content">
      <%= render 'layouts/date_summary', :time_object => match.play_date.to_time %>
      <div class = "match_main_line">
        <div class = "match_info">
          <% if match.winner == @user %>
            <%= "#{you_for_current_user(@user)} won against " %>
          <% else %>
            <%= "#{you_for_current_user(@user)} lost against " %>
          <% end %>
          <%= link_to opponent.fullname, opponent, :class => "opponent" %>
        </div>
        <div class = "match_confirmation">
          <% unless match.confirmed? %>
            <% if match.player2_id == @current_user.id %>
              <%= link_to "Reject", match, :method => :delete, :class => "reject_match", 
				:title => "Reject", :remote => true %>
              <%= render 'matches/confirm', :match => match %>
            <% elsif match.player1_id == @current_user.id %>
              <%= link_to "Cancel", match, :method => :delete, :class => "cancel_match", 
				:title => "Cancel", :remote => true %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= prompt_text(match) %>
    </li>
    <div class = "separator"></div>
  </div>
