<%= render 'layouts/error_messages', :object => match.object %>
<table>
	<tr>
		<td>
<%= match.label :player1_id, "Player 1: #{@current_user.fullname}" %>
<%= match.hidden_field :player1_id, :value => @current_user.id%>
</td>
<td>
<%= match.label :player2_id, "Player 2:" %>
<%= text_field_tag "match[player2_id]" %>
</td>
</tr>
<tr>
	<td>
<%= match.label :player1_score, "Score" %></td>
<td>
<%= match.label :player2_score, "Score" %>
</td>
</tr>
<% 5.times do |i| %>
<tr>
	<td>
<%= text_field_tag "match[player1_score][#{i}]" %>
</td>
<td>
<%= text_field_tag "match[player2_score][#{i}]" %>
</td>
</tr>
<% end %>

</table>
<%= match.submit "Confirm" %>