<div class = "user_summary round">
	<div class = "user_summary_top">
		<div class = "user_photo">
			<% if user.facebook? %>
			<% user.set_fb_small_pic(@graph) %>
			<%= link_to (image_tag user.fb_pic_small, :width => 75), user %>
			<% else %>
			<%= link_to (image_tag user.photo.url(:small), :width => 75), user %>
			<% end %>
		</div>
		<div class =  "user_summary_info">
			<%= link_to user.fullname, user %>
			<%= render 'layouts/ratings/user_rating', :user => user, :star_size => "small_stars" %>
		</div>
	</div>
	<div class = "user_summary_bottom">
		<div class = "user_interact"><%= render 'friendships/message_friend_button', :user => user %></div>
	<div class = 'user_location'>
		<%= user.zip %>
	</div>
	</div>
</div>