<div class = "header">
  <div class = "header_container">
    <nav class = "header_left">
      <span class = "vertical_align"></span>
      <%= link_to "#{APP_NAME}", @current_user %>
      <%= link_to "Search", search_users_path %>
    </nav>
    <nav class = "header_right">
      <div class = "match_notification_wrapper">
        <%= render 'matches/unconfirmed_matches_count' %>
      </div>
      <div class = "message_notification_wrapper">
        <%= render 'conversations/unread_conversation_count' %>
      </div>
      <div class = "friendship_notification_wrapper">
        <%= render 'friendships/received_friendships_count' %>
      </div>
      <span class = "vertical_align"></span>
      <%= link_to 'Matches', user_matches_path(@current_user), :class => 'matches' %>
      <%= link_to 'Messages', conversations_path, :class => "message_users" %>
      <%= link_to "Invite", new_invitation_path, :class => "invite_new_users" %>
      
      <%= render 'layouts/settings_dropdown' %>
      
    </nav>
  </div>
</div>
