<!DOCTYPE html>
<html>
<head>
  <title>Olympos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="fb-root"></div>

	<% if signed_in? %>
	<div id = "session_data" data-logged="<%= signed_in? %>" data-fb="<%= @current_user.facebook? %>"></div>
	<%= render 'layouts/header' %>
	<% end %>

<%= yield %>

</body>
</html>
